.jumbotron
  %h1 All of the Lights
  %p This is a basic starting point.

.lights
  - if lights.any?
    .progress
      .progress-bar.progress-bar-danger{style: "width: #{failure_percentage}%"}
        .span= failure_count
      .progress-bar.progress-bar-success{style: "width: #{success_percentage}%"}
        .span= success_count

    %table.table
      %thead
        %tr
          %th Status
          %th Locked?
          %th Attempts
          %th Name
      %tbody
        - lights.each do |l|
          %tr
            %td.indicator
              - if l[:green]
                %form{method: 'post', action: '/red'}
                  %input{type: 'hidden', name: 'names', value: URI.escape(l[:name])}
                  %button{type: 'submit', class: 'btn btn-success'} GREEN
              - else
                %form{method: 'post', action: '/green'}
                  %input{type: 'hidden', name: 'names', value: URI.escape(l[:name])}
                  %button{type: 'submit', class: 'btn btn-danger'} RED
            %td.locked
              - if l[:locked]
                %form{method: 'post', action: '/unlock'}
                  %input{type: 'hidden', name: 'names', value: URI.escape(l[:name])}
                  %button{type: 'submit', class: 'btn btn-link'}
                    %span{class: 'glyphicon glyphicon-lock'}
              - else
                %form{method: 'post', action: '/lock'}
                  %input{type: 'hidden', name: 'names', value: URI.escape(l[:name])}
                  %button{type: 'submit', class: 'btn btn-link'}
                    %span{class: 'glyphicon glyphicon-play'}
            %td.attempts
              - if l[:attempts] > 0
                = l[:attempts]
            %td.name
              = l[:name]
  - else
    .alert.alert-warning{role: 'alert'}
      %strong No lights found.
      Ensure that your Stoplight data store is properly configured and that your Stoplight blocks have been run.
